# ======================
# macOS
# ======================
.DS_Store
._*

# ======================
# Vidéos
# ======================
*.mp4

*.tex
*.iter
*.png
*.json
*.html
*.bak
*.jpeg
*.csv

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# ======================
# Environnements
# ======================
.venv/
.venv-rfdetr/
venv/
env/

# ======================
# Logs
# ======================
*.log

# ======================
# Données & outputs (YOLO)
# ======================
data/
runs/
datasets/
outputs/

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# VS Code
# ======================
.vscode/
